*{
    font-family: fantasy, Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: Roboto;
    src: local(), url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Batata;
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Batata;
    src: url('../fonts/Roboto-Thin.ttf');
    font-weight: lighter;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

p{
    font-family: 'Roboto';
}
.bold{
    font-family: 'Roboto';
    font-weight: bold;
}
.lighter{
    font-family: 'Roboto';
    font-weight: lighter;
}
li{
    font-family: 'Rubik Microbe';
    font-weight: bold;
}