@import url(./style-global.css);
code{
    background-color: aquamarine;
}
#xx-small{
    font-size: xx-small;
}
#x-small{
    font-size: x-small;
}
#small{
    font-size: small;
}
#medium{
    font-size: medium;
}
#large{
    font-size: large;
}
#x-large{
    font-size: x-large;
}
#xx-large{
    font-size: xx-large;
}
div{
    font-size: 30px;
}
div p{
    font-size: smaller;
}
#normal{
    font-style: normal;
}
#italic{
    font-style: italic;
}
#oblique{
    font-style: oblique;
}
#bold{
    font-weight: 900;
}
#weight{
    font-weight: bold;
}
#weight p{
    font-weight: lighter;
}
#exemplo-smallcaps{
    font-variant: small-caps;
}
.espacamento{
    font-family: 'League';
    font-weight: normal;
}
#ultra-condensed{
    font-stretch: ultra-condensed;
}
#extra-condensed{
    font-stretch: extra-condensed;
}
#semi-condensed{
    font-stretch: semi-condensed;
}
#normal{
    font-stretch: normal;
}
#semi-expanded{
    font-stretch: semi-expanded;
}
#expanded{
    font-stretch: expanded;
}
#extra-expanded{
    font-stretch: extra-expanded;
}
#ultra-expanded{
    font-stretch: ultra-expanded;
}

#line{
    line-height: 1.5;
}
#line2{
    line-height: 200%;
}
#prop-font{
    font: italic small-caps bold 24px/2 Georgia, serif;
}